.split_name {
    text-align: center;
    margin-top: var(--margin-xxxl);
    font-size: var(--font-size-large);
}

.log_workout {
    margin: var(--margin-xxxl) 0;
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    background-color: var(--blue);
    text-decoration: none;
    color: black;
    padding: var(--padding-xxl) var(--padding-xxxl);
    font-size: 28px;
    border-radius: 40px;
}
