.split_name_container {
  width: max-content;
  margin: 50px auto;
}

.split_name {
  text-align: center;
  margin-top: 50px;
  font-size: 3rem;
}

.button {
  display: block;
  width: max-content;
  margin: 20px auto;
  background-color: var(--blue);
  color: white;
  padding: 12px 32px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 450;
}
