.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(211, 211, 211, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
}

.container {
  background-color: white;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}