.card_container {
  background-color: white;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: max-content;
  align-items: center;
  padding: 24px;
  position: relative;
  gap: 32px;
  min-width: 350px;
}

.header_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.title {
  font-weight: 600;
}

.description {
  color: var(--text-gray);
  font-size: 14px;
}

.card_content {
  width: 100%;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 8px;
}

