.set {
  display: flex;
  flex-flow: row wrap;
}

.set label {
  font-size: 18px;
  width: 54px;
  height: 25px;
  margin: 7px 0;
  padding: 1px 2px;
}

.set input {
  width: 45px;
  height: 20px;
  margin: 5px 15px;
  text-align: center;
}

.delete_set_btn {
  cursor: pointer;
  margin: 7px 10px;
  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(221, 62, 50);
}