.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4px 8px 9px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  position: relative;
}

.arrow {
  width: min-content;
  height: min-content;
}