/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* @import '@gymapp/styles/globals.css';
@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("/Inter-VariableFont_opsz\,wght.ttf") format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Noto-Sans";
    src: url("/NotoSans-VariableFont_wdth\,wght.ttf") format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Kenyan-Coffee";
    src: url("/kenyan-coffee.regular.ttf") format('ttf');
} */

/* @layer base {
    * {
        font-family: 'Inter';
        padding: 0;
        margin: 0;
        line-height: 24px;
    }
} */

* {
  font-family: 'Inter';
}

/* :root {
  --primary: #3a8fea;
  --danger: #dd3e32;
  --lightgrey: #d3d3d3;
  --darkgrey: #959595;
} */