.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.button_container {
  display: flex;
  align-items: space-around;
  gap: 8px;
}

@media (width > 1000px) {
  .container {
    display: none;
  }
}