.container {
  display: flex;
  cursor: pointer;
  width: 120px;
  font-size: 18px;
  gap: 16px;
  padding: 8px;
  align-items: center;
}

.desktop_brand {
  font-family: "Kenyan-Coffee";
  font-size: 28px;
}

.mobile_brand {
  font-family: "Kenyan-Coffee";
  font-size: 48px;
}