.entry {
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.id_weight {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.date_dots {
  display: flex;
  gap: 16px;
}

.date {
  display: flex;
  justify-content: center;
  width: 100px;
}

.three_dots {
  cursor: pointer;
}

.id {
  color: var(--color-dark-gray);
  width: 40px;
  font-size: 14px;
}

.entry_modal {
  position: relative;
}