.container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 0 auto 10px auto;
  position: relative;
  width: auto;
}

.date_picker_container {
  display: flex;
  flex-flow: row wrap;
  gap: 5px
}

@media (width < 1000px) {
  .container {
    display: none;
  }
}
