/* .background {
  width: calc(100vw - 32px);
  height: 100vh;
  background-color: rgba(211, 211, 211, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 10000000000;
  padding: 16px;
}

.container {
  background-color: white;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: 100%;
  align-items: center;
  padding: 16px;
  position: relative;
} */
