.container {
    width: max-content;
    height: max-content;
    background-color: white;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    position: absolute;
    top: -25px;
    right: 0px;
    z-index: 10;
}

.option {
    cursor: pointer;
}

.option:hover {
    background-color: lightgray;
}

#add_note {
    padding: 10px 10px 5px 10px;
}

#remove_exercise {
    padding: 5px 10px 10px 10px;
    color: crimson;
}