.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  width: 226px;
  border-radius: 4px;
  margin-top: 4px;
  position: absolute;
  bottom: calc(0 - 100%);
  left: 0;
}