.primary, .secondary, .danger, .disabled {
  color: white;
  display: inline-block;
  border: none;
}

.primary {
  background-color: var(--blue);
}

.secondary {
  background-color: white;
  color: black;
  border: 2px solid var(--blue);
}

.danger {
 background-color: var(--red);
}

.disabled {
  background-color: lightgray;
}

.small {
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 450;
}

.medium {
  padding: 12px 32px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 450;
}

.large {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 22px;
  font-weight: 450;
}
