.primary, .secondary, .danger {
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 450;
  border: none;
}

.primary {
  background-color: var(--blue);
  color: white;
}

.secondary {
  background-color: white;
  border: 2px solid var(--blue);
}

.secondary:hover {
  background-color: var(--blue);
  color: white;
}

.danger {
 background-color: var(--red);
}