.container {
  /* width: 50%; */
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  /* min-width: 350px; */
  height: 100%;
  /* padding: 10px 20px; */
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: scroll;
}

.list_headings {
  /* min-width: 350px; */
  display: flex;
  font-size: 18px;
}

.list_entries::-webkit-scrollbar {
  display: none;
}

@media (width < 480px) {
  .container {
    width: 100%;
  }
}

/* .list_entries {
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
} */


/* #number_head {
  display: inline-block;
  margin-right: 20px;
  width: 33px;
}

#weight_head {
  display: inline-block;
  margin-right: 70px;
  width: 65px;
} */

/* @media (width < 480px) {
  .container {
    max-width: none;
  }

  .list {
    width: 100%;
  }
} */