.heading {
  font-weight: 600;
  font-size: 18px;
}

.list_entries::-webkit-scrollbar {
  display: none;
}

.list_entries {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  overflow: scroll;
  position: relative;
}

.no_data {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
} 

@media (width < 1250px) {
  .container {
    width: calc(60vw - 32px);
  }
}

@media (width < 1050px) {
  .container {
    width: 100%;
  }
}