.container {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 400px;
  max-height: 100%;
  position: relative;
}

.add_btn_div {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-end;
  font-size: 2.3rem;
  padding: 0 10px;
  align-items: center;
  position: absolute;
  top: 0;
  right: 10px;
}

.add_btn {
  color: var(--blue);
  cursor: pointer;
}

.list {
  display: flex;
  width: 50%;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
  border-radius: 20px;
  min-width: 350px;
  height: calc(100% - 20px);
  margin: auto;
  padding: 10px 20px;
}

.list_sub_headings {
  width: 50%;
  margin: auto;
  min-width: 350px;
  padding: 10px 5px 0 5px;
  display: flex;
  font-size: 1.2rem;
}

.list_entries {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
  min-width: 350px;
}

.list_entries::-webkit-scrollbar {
  display: none;
}

#number_head {
  display: inline-block;
  margin-right: 20px;
  width: 33px;
}

#weight_head {
  display: inline-block;
  margin-right: 70px;
  width: 65px;
}
