.container {
  padding: 8px;
  height: min-content;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.link_text {
  position: relative;
  display: flex;
  gap: 16px;
  width: 100%;
  align-items: center;
}
