.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.searchbar {
    width: max-content;
    margin: auto;
}

.footer_btns {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.future_exercise_list {
    margin: 15px 25px;
    flex: 55%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: hidden;
    overflow-y: auto;
}

.future_exercise_list::-webkit-scrollbar {
    display: none;
}

.future_exercise {
    background-color: lightgray;
    border-radius: 5px;
    padding: 3px 8px;
    margin: 10px 10px;
    width: max-content;
    height: max-content;
}

.exercises_clear_btn {
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    color: crimson;
}

@media (width < 480px) {
    .searchbar {
        width: 100%;
    }
}