.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 450px;
  height: min-content;
  box-shadow: var(--box-shadow);
  border-radius: 24px;
  padding: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input_container, .button_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* .google {
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  padding: 12px;
} */

@media (width < 480px) {
  .container {
    width: calc(100% - 96px);
    padding: 32px;
  }
}