.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
  padding: 10px;
}

@media (width < 720px) {
  .container {
    display: none;
  }
}