.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  width: 95%;
  margin: auto;
  font-size: 14px;
  gap: 40px;
}

.label {
  font-size: 12px;
  color: var(--dark-gray);
}

@media (width < 720px) {
  .container {
    display: none;
  }
}