.container {
  width: 50%;
}

.datepickers {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.header {
  font-size: 20px;
}

@media (width > 480px) {
  .container {
    display: none;
  }
}