.container {
  position: relative;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  display: flex;
  z-index: 1000000000;
  cursor: pointer;
}

.lines {
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: var(--color-primary);
}
