.outline, .filled {
  padding: 6px; 
  border-radius: 8px;
  font-size: 18px;
}

.outline:focus, .filled:focus {
  outline: none;
}

.outline {
  border: 1px solid black;
}

.filled {
  border: none;
  background-color: var(--light-gray);
}