.container {
  cursor: pointer;
  background-color: var(--light-gray);
  height: 100%;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  position: absolute;
  top: -8px;
  left: -8px;
  z-index: -1;
}