.container {
  display: flex;
  flex-direction: column;
  /* width: clamp(350px, 70vw, 70vw); */
  width: 70vw;
}

@media (width < 1625px) {
  .container {
    width: 60vw;
  }
}

@media (width < 1050px) {
  .container {
    display: none;
  }
}
