.container {
  width: max-content;
  position: relative;
  font-size: 14px;
}

.content_container {
  width: max-content;
  height: max-content;
  background-color: white;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.item_container {
  cursor: pointer;
  padding: 6px 12px;
}

.item_container:hover {
  background-color: lightgray;
}

.danger {
  color: var(--danger)
}