.chart_container {
  box-shadow: var(--shadow-primary);
  border-radius: 12px;
  padding: 24px;
  position: relative;
}

.no_data {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

@media (width < 480px) {
  .chart_container {
    padding: 16px;
  }
}