.container {
  display: flex;
  flex-direction: column;
  width: 55%;
  max-height: 100%;
}

.chart_container {
  display: flex;
  border-radius: 20px;
  width: calc(100% - 80px);
  height: 100%;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
  padding: 20px;
  border-radius: 20px;
  margin: 0 20px;
}